<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Update</title>
</head>
<body>
    <h1>연락처 등록 화면</h1>
    <form id="formUpdate" name="formUpdate" method="post" action="./update">
        <label name="id">ID : </label>
        <input type="text" id="id" name="id" value="{{modify.id}}" readonly/>
        <label name="name">이름 : </label>
        <input type="text" id="name" name="name" value="{{modify.name}}" maxlength="" />
        <label name="phoneNumber">전화번호 : </label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="{{modify.phoneNumber}}" maxlength="" />
        <label name="zipNumber">우편번호 : </label>
        <input type="text" id="zipNumber" name="zipNumber" value="{{modify.zipNumber}}" maxlength="" />
        <label name="email">이메일 주소 : </label>
        <input type="text" id="email" name="email" value="{{modify.email}}" maxlength="" />
        <input type="submit" value="수정" />
        <input type="submit" formaction="./delete" value="삭제" />
    </form>
</body>
</html>