<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <form id="formSignUp" name="formSignUp" method="post" action="./signUpPost">
        <label name="userId">아이디 : </label>
        <input type="text" id="userId" name="userId" maxlength="" />
        <label name="password">비밀번호 : </label>
        <input type="password" id="password" name="password" maxlength="" />
        <input type="submit" value="회원가입">
    </form>
</body>
</html>