<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>커피 정보</title>
</head>
<body>
    {{#item}}
    <ul>
        <li>커피 이름 : {{name}}</li>
        <li>커피 가격 : {{price}}원</li>
        <li>커피 원두 : {{source}}</li>
        <li>커피 샷 : {{shots}}</li>
    </ul>
        <button type="button" onclick="document.location.href='./modify?id={{id}}'">수정</button>
    <br>
    {{/item}}
    {{^item}}
        데이터가 존재하지 않습니다.
    {{/item}}
    <button type="button" onclick="document.location.href='./list'">목록보기</button>
</body>
</html>