<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <form method="post" action="/loginpage/finduser">
        <div><label for="username">사용자 아이디 : </label><input id="username" name="username" value=""></div>
        <div><label for="name">사용자 이름 : </label><input id="name" name="name" value=""></div>
        <div><label for="phoneNumber">사용자 전화번호 : </label><input id="phoneNumber" name="phoneNumber" value=""></div>
        <div><label for="email">사용자 이메일 : </label><input id="email" name="email" value=""></div>
    </form>
</body>
</html>